CONSUMOWEB/Connected Services/ServicioChamoy/servicio_web_gt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WSListado">
        <s:complexType />
      </s:element>
      <s:element name="WSListadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSListadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSInsertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lanzamento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="desarrollador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSInsertarResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSModificar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Lanzamiento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="desarrollador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSModificarResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSeliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSeliminarResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSListadoSoapIn">
    <wsdl:part name="parameters" element="tns:WSListado" />
  </wsdl:message>
  <wsdl:message name="WSListadoSoapOut">
    <wsdl:part name="parameters" element="tns:WSListadoResponse" />
  </wsdl:message>
  <wsdl:message name="WSInsertarSoapIn">
    <wsdl:part name="parameters" element="tns:WSInsertar" />
  </wsdl:message>
  <wsdl:message name="WSInsertarSoapOut">
    <wsdl:part name="parameters" element="tns:WSInsertarResponse" />
  </wsdl:message>
  <wsdl:message name="WSModificarSoapIn">
    <wsdl:part name="parameters" element="tns:WSModificar" />
  </wsdl:message>
  <wsdl:message name="WSModificarSoapOut">
    <wsdl:part name="parameters" element="tns:WSModificarResponse" />
  </wsdl:message>
  <wsdl:message name="WSeliminarSoapIn">
    <wsdl:part name="parameters" element="tns:WSeliminar" />
  </wsdl:message>
  <wsdl:message name="WSeliminarSoapOut">
    <wsdl:part name="parameters" element="tns:WSeliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="servicio_web_gtSoap">
    <wsdl:operation name="WSListado">
      <wsdl:input message="tns:WSListadoSoapIn" />
      <wsdl:output message="tns:WSListadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSInsertar">
      <wsdl:input message="tns:WSInsertarSoapIn" />
      <wsdl:output message="tns:WSInsertarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSModificar">
      <wsdl:input message="tns:WSModificarSoapIn" />
      <wsdl:output message="tns:WSModificarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSeliminar">
      <wsdl:input message="tns:WSeliminarSoapIn" />
      <wsdl:output message="tns:WSeliminarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servicio_web_gtSoap" type="tns:servicio_web_gtSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSListado">
      <soap:operation soapAction="http://tempuri.org/WSListado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSInsertar">
      <soap:operation soapAction="http://tempuri.org/WSInsertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSModificar">
      <soap:operation soapAction="http://tempuri.org/WSModificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSeliminar">
      <soap:operation soapAction="http://tempuri.org/WSeliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="servicio_web_gtSoap12" type="tns:servicio_web_gtSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSListado">
      <soap12:operation soapAction="http://tempuri.org/WSListado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSInsertar">
      <soap12:operation soapAction="http://tempuri.org/WSInsertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSModificar">
      <soap12:operation soapAction="http://tempuri.org/WSModificar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSeliminar">
      <soap12:operation soapAction="http://tempuri.org/WSeliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicio_web_gt">
    <wsdl:port name="servicio_web_gtSoap" binding="tns:servicio_web_gtSoap">
      <soap:address location="https://localhost:44372/servicio_web_gt.asmx" />
    </wsdl:port>
    <wsdl:port name="servicio_web_gtSoap12" binding="tns:servicio_web_gtSoap12">
      <soap12:address location="https://localhost:44372/servicio_web_gt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>